<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div>
    <canvas id="myChart"></canvas>
     
</div>

<script>
    $(document).ready(function () {

        $.ajax({
            type: "GET",
            url: "https://localhost:44356/Product/getAllProducts",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                console.log(response)
                labels = response.map(x => x.name)
                values = response.map(x => x.price)

                console.log(labels)
                console.log(values)
                const data = {
                    labels: labels,
                    datasets: [{
                        label: 'Weather Forcasting',
                        backgroundColor: ['green', 'cyan', 'red', 'blue'],
                        borderColor: 'rgb(255, 99, 132)',
                        data: values,
                    }]
                };

                const config = {
                    type: 'line',
                    data: data,
                    options: {
                        plugins: {
                            title: {
                                display: true,
                                text: 'Zstore'
                            }
                        }
                    }
                };



                const myChart = new Chart(
                    document.getElementById('myChart'),
                    config
                );



            },
            error: function (response) {
                console.log(response);
                alert("Error");
            }
        });
    });




































  
</script>
