@model List<Product>

<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>product</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>


        <div class="row gy-4">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">


                    <div class="icon-box iconbox-blue" style="width:100% !important">
                        <img src="~/@item.Photo" class="myProductImage"/>
                        <h4><a href="Home/currentProduct/@item.Id">@item.Name</a></h4>
                        <p>@item.Price EG</p>
                    </div>

                </div>
            }



        </div>

    </div>
</section>